# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @redhat-appstudio/book-publishers will be requested for
# review when someone opens a pull request.
*       @konflux-ci/book-publishers

/architecture/build-service.md              @konflux-ci/build-maintainers
/architecture/enterprise-contract.md        @konflux-ci/ec
/architecture/hybrid-application-console.md @konflux-ci/konflux-ui
/architecture/image-controller.md           @konflux-ci/build-maintainers
/architecture/internal-services.md          @konflux-ci/release-service-maintainers
/architecture/multi-platform-controller.md  @konflux-ci/infrastructure
/architecture/release-service.md            @konflux-ci/release-service-maintainers
/architecture/integration-service.md        @konflux-ci/integration-service-maintainers
