# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @konflux-ci/book-publishers will be requested for
# review when someone opens a pull request.
*       @konflux-ci/book-publishers

/ADR/ 						@konflux-ci/kgc

/architecture/core/build-service.md              @konflux-ci/build-maintainers
/diagrams/build-service			    @konflux-ci/build-maintainers
/architecture/add-ons/image-controller.md           @konflux-ci/build-maintainers

/architecture/core/enterprise-contract.md        @konflux-ci/ec

/architecture/core/hybrid-application-console.md @konflux-ci/konflux-ui

/architecture/add-ons/multi-platform-controller.md  @konflux-ci/infrastructure

/architecture/add-ons/mintmaker.md          	    @konflux-ci/mintmaker-maintainers

/architecture/add-ons/internal-services.md          @konflux-ci/release-service-maintainers
/architecture/core/release-service.md            @konflux-ci/release-service-maintainers
/diagrams/internal-services                 @konflux-ci/release-service-maintainers
/diagrams/release-service                   @konflux-ci/release-service-maintainers

/architecture/core/integration-service.md        @konflux-ci/integration-service-maintainers
/diagrams/integration-service  		    @konflux-ci/integration-service-maintainers
